* {
    margin: 0;
}

:root {
    --font-size: 18px;
    --h1-font-size: calc(var(--font-size) + 10px);
    --subnote-font-size: calc(var(--font-size) - 4px);
}

html, body {
    background-color: #2f2f2f;
    color: #cfcfcf;

    offset: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-wrap: normal;

    font-size: var(--font-size);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    width: 80vw;
    align-items: flex-start;
    gap: 14px;
}

h1 {
    color: #efefef;
    font-size: var(--h1-font-size);
}

button, input, textarea {
    background-color: #4f4f4f;
    color: #efefef;
    border: 2px solid #bfbf9f;
    border-radius: 4px;
    font-size: var(--font-size);
}

button:hover, input:hover, textarea:hover {
    border-color: #b247e8;
}

button, textarea {
    padding: 8px;
}

input {
    padding: 4px;
}

a {
    color: #2fafaf;
}

a:hover {
    color: #4fdfdf;
}

.subnote {
    font-size: var(--subnote-font-size);
}
